* {
	margin:0;
	padding:0;
}
.coenten {
	width:600px;
	margin:0 auto;
	padding-top: 200px;
    min-height: 1000px;
}
.tpbar ul {
	list-style: none;
	overflow: hidden;
	width:100%;
	position: relative;
}
.tpbar ul li {
	float: left;
	width: 81px;
	cursor: pointer;
}
.tpbar ul .span-left {
	float:left;
}
.tpbar ul .span-cont {
	position: absolute;
	top: 0;
	left: 50%;
	margin-left:-40.5px;
}
.tpbar ul .span-rt {
	float:right;
}
.tpbar ul li a.active {
	color:#2cb7c9;
	background: none;
}
.tpbar ul li span.active {
	background:#2cb7c9;
}
.tpbar ul li a{
	display: block;
	text-align: center;
	text-decoration: none;
	margin-top:20px;
	color:#333;
	font-size: 16px;
}
.tpbar ul li span {
	display: block;
	width:50px ;
	height:50px;
	border-radius: 50%;
	background:#ccc;
	text-align: center;
	line-height: 50px;
	font-size: 22px;
	color:#fff;
	margin:0 auto;
}
.password {
	width:100%;
	box-shadow: 0px 5px 25px #999;
}
.password input {
	background: none;
}
.hr	{
	width: 174px;
	display: block;
	border-top:2px solid #ccc;
	position: relative;
	top: -78px;
}
.hr.active {
	border-top:2px solid #2cb7c9;
}
.hr1 {
	left: 84px;
}
.hr2 {
	left: 342px;
}


.password form {
	position: relative;
}
.Error {
	width: 400px;
	height:30px;
	color:red;
	margin-left:144px;
	display: block;
	position: absolute;
}
.Errors  {
	top:122px;
}
.Errorss  {
	top:182px;
} 
.labe input.active {
	border:1px solid red;
}




.password {
	width:600px;
	height:390px;
	border-radius: 20px;
	background:#f5fbfc;
	margin-top: 30px;
	padding:22px 0;
}
.password h1 {
	font-size: 24px;
	text-align: center;
}
.password h1 .fdj {
	display: inline-block;
	width: 60px;
	height: 44px;
	vertical-align: middle;
	margin-right: 12px;
	background: url(/res/images/fdj.png)no-repeat center;
}
.password  .labe {
	margin:15px auto;
	text-align: center;

}
.password label {
	display: inline-block;
	width:81px;
}
.password form input {
	height: 50px;
	outline:none;
	border-radius: 8px;
	border:1px solid #999;
	cursor: pointer;
}
.password form input[type="tel"] {
	width:400px;
	text-indent: .5cm;
}
.password form input[type="text"] {
	width: 256px;
	text-indent: .5cm;
}
.password form input[type="button"] {
	width: 124px;
	border:none;
	color:#fff;
	background: #2cb7c9;
	text-align: center;
	margin-left: 10px;
}
.input-yel {
	width:400px;
	height:50px;
	display: block;
	color:#fff;
	font-size: 20px;
	margin:35px 0 0 142px;
	border:none;
	border-radius: 72px;
	background: #fea600;
}

.password form input[type="password"] {
	width:400px;
	text-indent: .5cm;
}

.password-content {
	width:43%;
	margin:68px auto 0;
	overflow: hidden;
}
.password-content img {
	display:block;
	width: 50px;
	height:48px;
	float: left;
}
.password-content .successful {
	float: right;
}
.successful h1 {
	color:#2cb7c9;
	margin:10px auto;
}
.successful p {
	color:#9b9b9b;
	font-size:14px;
	margin:10px auto;
}
.successful p span {
	color:#ffb400;
}
button {
	width:140px;
	height:40px;
	border-radius: 72px;
	border:none;
	background: #fea600;
	color:#fff;
	font-size: 16px;
	margin:10px auto;
	outline:none;
}
