.add-title {
	font-size: 18px;
}
.add {
    margin-bottom: 10px;
}
 #personRecommend{
            min-height: 1100px!important;
        }
.birth-box {
	position: relative;
}

.year-select {
	position: absolute;
	top: 33px;
	left: 0px;
	z-index: 100;
	border: 1px solid #2CB7C9;
}

.year-select {
	display: none;
	height: 266px;
}

.year-select li {
	padding: 0 16px;
	background-color: white;
}

.year-select li:hover {
	background-color: #2CB7C9;
	color: white;
	cursor: pointer;
}

.birth-year {
	position: absolute;
	top: 7px;
	left: 16px;
}

.trigger-inverse {
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	transform: rotate(180deg);
	animation-fill-mode: forwards;
}
    .send-btn{
            width:100%;
            background-color: #F8D593;
            color:white;
            height:40px;
        }
.location {
	position: absolute;
	top: 8px;
	left: 12px;
	width: auto;
	height: 20px;
}
   .split-line{
            width:100%;
            border-bottom: 1px solid #E6E6E6;
        }
  /****************************堕存т欢峰*************************/

        .search-status{
            margin-top:30px;
            width:100%;
        }
        .active-status{
            color:#FEA600;
        }

        .person-table thead tr th{
            background-color: #F5F5F5;
            color:#9B9B9B;
            font-weight: normal;
            border-bottom: none;
            line-height: 30px;
        }

        .person-table tbody tr td{
            border-top:none;
            height:40px;
            line-height: 40px;
            font-size: 14px;
            color:#4A4A4A;
        }

        .active-line{
            position: absolute;
            top:0;
            left:0;
            width:136px;
            border-bottom: 2px solid #FEA600;
        }

        .other-select{
            cursor: pointer;
        }

        .table-btn{
            width:76px;
            height:22px;
            line-height:18px;
            border:1px solid #95D6E2;
            background-color: white;
            color:#2CB7C9;
            border-radius: 10px;
            vertical-align: middle;
            position: relative;
        }
        
           /****************************椤垫峰*************************/

        .page >*{
            display: inline-block;
        }
        .prev{
            color:#CCCCCC;
        }

        .next{
            color:#CCCCCC;
        }

        .page-circle{
            width: 20px;
            height: 20px;
            line-height: 20px;
            border: 1px solid #CCCCCC;
            text-align: center;
            color:#CCCCCC;
            -moz-border-radius: 50px;
            -webkit-border-radius: 50px;
            border-radius: 50px;
            font-size: 12px;
        }

        .active-page{
            border:1px solid #4A4A4A;
            color:#4A4A4A;
        }

        .goto-page{
            width:40px;
            height:20px;
            border:1px solid #9B9B9B;
            border-radius: 4px;
            outline: none;
            font-size: 12px;
            text-align: center;
        }
        .go-circle{
            width: 20px;
            height: 20px;
            /*line-height: 20px;*/
            border: 1px solid #979797;
            text-align: center;
            background-color: #979797;
            color:white;
            -moz-border-radius: 50px;
            -webkit-border-radius: 50px;
            border-radius: 50px;
            font-size: 12px;
        }

        /****************************椤垫峰*************************/
        
         .form-opt{
            margin-top:30px;
            padding-left:128px;
        }

        .btn-ok{
            width:286px;
            height:40px;
            background-color: #FEA600;
            border:none;
            border-radius: 20px;
            color:white;
        }
        .form-triangle{
            position: absolute;
            bottom: 6px;
            left:58px;
            cursor: pointer;
        }
        .form-trigger {
            display: inline-block;
            height: 0;
            width: 0;
            overflow: hidden;
            border-style: solid;
            margin-left: 4px;
            margin-right: 4px;
            position: relative;
            top:0;
            border-width:6px 6px 0;
            border-color:#D8D8D8 transparent transparent;
            -webkit-transition:all .4s ease 0s;
            -moz-transition:all .4s ease 0s;
            -o-transition:all .4s ease 0s;
            transition:all .4s ease 0s;
        }
        .card-code{
            position: absolute;
            top:0;
            left:158px;
            width:250px;
        }
        
            .add-btn{
            width:240px;
            height:40px;
            line-height: 40px;
            cursor: pointer;
            border:1px solid #FEA600;
            border-radius: 4px;
            color:#FEA600;
            float:right;
        }


        .add-btn img{
            width:24px;
            height:24px;
            margin-left:20px;
            vertical-align: middle;
            margin-bottom: 3px;
        }
        
        /*左侧样式修改*/

		.invite-l-box {
		    height: 198px;
		}
		
		.ceoInfo-l-a-content li {
		    height: 39px;
		    line-height: 39px;
		    width: 170px;
		    margin-left: 70px;
		    cursor: pointer;
		}
		.clearfloat:after {
		    display: block;
		    clear: both;
		    content: "";
		    visibility: hidden;
		    height: 0;
		}
		.clearfloat {
		    zoom: 1;
		}
		.select {
		    height: 39px;
		    line-height: 39px;
		    width: 170px;
		    border-right: 3px solid #2cb7c9;
		    color: #2cb7c9;
		}
		.clearfloat {
		    zoom: 1;
		}

		.li-box {
		    height: 24px;
		    width: 105px;
		    padding-top: 7.5px;
		}
		
		.icon-a {
		    background: url("/res/images/ceo/icon-a-s.png") no-repeat;
		}
		
		ul li .txt-box {
		    width: 65px;
		    height: 24px;
		    display: block;
		    font-size: 16px;
		    float: left;
		    line-height: 24px;
		}
		
		.icon-box {
		    width: 22px;
		    height: 24px;
		    display: block;
		    float: left;
		    margin-right: 15px;
		}
		.invite-a {
		    background: url("/res/images/layout/invite-a.png") no-repeat;
		}
		.invite-b {
		    background: url("/res/images/layout/invite-b.png") no-repeat;
		}
		.invite-c {
		    background: url("/res/images/layout/invite-c.png") no-repeat;
		}
		.invite-d {
		    background: url("/res/images/layout/invite-d.png") no-repeat;
		}
		.invite-a-s {
		    background: url("/res/images/layout/invite-a-s.png") no-repeat;
		}
		.invite-b-s {
		    background: url("/res/images/layout/invite-b-s.png") no-repeat;
		}
		.invite-c-s {
		    background: url("/res/images/layout/invite-c-s.png") no-repeat;
		}
		.invite-d-s {
		    background: url("/res/images/layout/invite-d-s.png") no-repeat;
		}
        
        /**/
        .search-box-a {
		    position: relative;
		    width: 730px;
		}
		.code-a {
		    position: absolute;
		    left: 0;
		}
		.search-box-a-content .code-b {
		    position: absolute;
		    left: 220px;
		    width: 250px!important;
		}
		.search-box-a-content .add_box {
		    position: absolute;
		    right: -69px;
		}
        
        
/*项目推荐方页*/ 
.content-box .partnerCompany_left .username_box {
    position: relative;
    height: 54px;
    width: 100%;
}
.content-box .partnerCompany_left .username_box .username_box_content {
    margin: 0!important;
    height: 28px;
    position: absolute;
    left: 50%;
    top: 20px;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
}
.content-box .partnerCompany_left .username_box .username .username_name {
    float: left;
    display: block;
    height: 28px;
    line-height: 28px;
    font-size: 20px;
    color: #4a4a4a;
}
.content-box .partnerCompany_left .username_box .username .username_city {
    float: left;
    display: block;
    font-size: 14px;
    color: #9b9b9b;
    margin-top: 6px;
    margin-left: 10px;
}
.search-box-a-content .code-b .copy-code {
    background: #2cb7c9;
    color: #fff;
}     


/*项目方个人资料*/  
#contean-account #resetpass_error_tip {
	position: absolute;
	top: -20px;
	left: -32px;
}
.partnerCompany_account .displayBasicInfo{
    margin-top: 30px;
}	
.partnerCompany_account .displayBasicInfo .form-group{
	width: 100%;
    height: 50px;
}    
.partnerCompany_account .displayBasicInfo .basic_input {
	position: relative;
    width: 400px;
    height: 50px;
    border: 1px solid #2cb7c9;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -o-border-radius: 8px;
    float: left;
}
.partnerCompany_account .displayBasicInfo .basic_input strong {
    position: absolute;
    top: 16px;
    left: 20px;
    font-weight: 500!important;
}