		.kucity .kucity_body {
		    position: absolute;
		    z-index: 100;
		    top: 59px;
		    left: 0px;
		    width: 364px;
		    padding: 10px 5px;
		    max-height: 230px;
		    overflow-y: auto;
		}
       #accountSecurity_company .location{
		    position: absolute;
			top: 15px;
			left: 140px;
			width: auto;
			height: 20px;
			}
	   #accountSecurity_company .roup{
		    width: 16px;
		    height: 16px;
		    display: inline-block;
		    background: url(/res/images/partner/omit_icon.png) no-repeat center;
		    vertical-align: bottom;
		    height: 19px;
		    line-height: 19px;
		    margin-left: 20px;
		    margin-bottom: 2px;
           } 
    	/*笔样式控制*/
		#accountSecurity_company #saveAccountBasicBtn{
		    position: absolute;
		    right: -65px;
		    top: 7px;
		    cursor: pointer;
		}
        .right-opt{
            padding-bottom: 30px!important;
        }
       #personRecommend{
            padding-top: 100px;
        }
        #accountSecurity_company .opt-and-search{
            width:100%;
        }
        #accountSecurity_company .add-title{
            font-size: 18px;
            line-height: 54px;
        }
        #accountSecurity_company .split-line{
            width:100%;
            border-bottom: 1px solid #E6E6E6;
        }
        #accountSecurity_company .photo-box{
            width:200px;
            height:140px;
            line-height: 140px;
            text-align: center;
            background-color: #F2F2F2;
            color:#9B9B9B;
            border:1px dashed #CCCCCC;
            display: inline-block;
            margin-left:20px;
        }
        #accountSecurity_company .photos{
            padding-top:30px;
            padding-left:40px;
        }
        #accountSecurity_company .send-btn{
            width:100%;
            background-color: #F8D593;
            color:white;
            height:40px;
        }
        #accountSecurity_company .form-opt{
            margin-top:30px;
            padding-left:128px;
        }
        #accountSecurity_company .btn-ok{
            width:286px;
            height:40px;
            background-color: #FEA600;
            border:none;
            border-radius: 20px;
            color:white;
        }
        #accountSecurity_company .data{
	    	width:730px;	
	    	margin:0 auto;
	        background: #fafafa;
	    	position:relative;
          }
		#accountSecurity_company .b-content-b{
		        width: 701px;
		        margin: 20px auto;
		    }
		 #accountSecurity_company .b-content-c{
		        width: 645px;
		        height: 267px;
		        margin: 0 auto;
		    }
		
		  #accountSecurity_company .line-box{
		    	position:relative;
		        width: 560px;
		        height: 36px;
		        margin: 0 auto;
		        
		    }
		   #accountSecurity_company .line{
		        width: 200px;
		        height: 18px;
		        border-bottom: 1px solid #95d6e2;
		        line-height: 36px;
		        display: block;
		        float: left;
		    }
		    #accountSecurity_company .line-btn{
		        width: 120px;
		        height: 36px;
		        border-radius: 100px;
		        background: #7dd2e1;
		        color: #fff;
		        font-size: 16px;
		        display: block;
		        float: left;
		        line-height: 36px;
		        text-align: center;
		        margin-left: 20px;
		        margin-right: 20px;
		    }
		
		    #accountSecurity_company .idbox{
		        width:320px;
		        height: 200px;
		        border: 1px dashed #ccc ;
		        background: #fff;
		        cursor: pointer;
		        display: block;
		        margin: 50px 0 50px 125px;
		
		    }
		    #accountSecurity_company .idtxt{
		        font-size: 14px;
		        color: #9b9b9b;
		        margin-left: 40px;
		    }
		
		    #accountSecurity_company .box-txt{
		    	overflow:hidden;
		    	padding:25px 0;
		    }
		    #accountSecurity_company .index{
		        color:#9B9B9B;
		        font-size: 12px;
		    }
		
		    #accountSecurity_company .box-txt-righta{
		        text-align: right;
		    }
		    #accountSecurity_company .bot-txte ol li{
		    	margin:10px 0;
		    	color:#9b9b9b;
		    }
		    #accountSecurity_company .certificate ul li{
		    	display:inline-block;
		    }
		    #accountSecurity_company form{
		        margin:40px 0;
		    }
		    #accountSecurity_company .for{
			    margin:15px 0;
			    color:#fff;
			    position:relative;
			}
		   #accountSecurity_company label{
		    width:15%;
		    line-height: 50px;
		    margin-right:19px;
		    text-align:right;
		    display: inline-block;
		    float:left;
		    font-weight: 500;
		}
		
		#accountSecurity_company .reset_icon{
		    margin-left: 20px;
		    margin-top: -5px;
		    cursor: pointer;
		}
		
		#accountSecurity_company .detu{
		    display:block;
		    width:20px;
		    height:27px;
		    position: absolute;
		    top:14px;
		    left:132px;
		    background:url(imgs/map.png) no-repeat center;
		}
		#accountSecurity_company .for-btn{
		    padding-bottom:30px;
		    border-bottom:1px dashed #fff;
		}
		#accountSecurity_company .triangle{
		    display:inline-block;
		    width:0px;
		    height:0px;
		    border-top:7px solid #d8d8d8;
		    border-left:7px solid transparent;
		    border-right:7px solid transparent;
		    position: absolute;
		    top:23px;
		}
		#accountSecurity_company .for-btn-triangel{
		    left:250px;
		}
		#accountSecurity_company .for-btn-triangela{
		    left:253px;
		}
		#accountSecurity_company .for-btn-triangelb{
		    position: absolute;
		    top:23px;
		    left:435px;
		}
		 #accountSecurity_company .for-sbt{
		    width:410px;
		    margin:35px auto;
		}
		 #accountSecurity_company .for-sbt button{
		    width:180px;
		    height:60px;
		    float:left;
		    border:none;
		    color:#fff;
		    border:1px solid #fff;
		    border-radius:100px;
		    background:none;
		    font-size:18px;
		}
		 #accountSecurity_company .for-sbt button:hover{
		    background:#fea600;
		    border:none;
		}
		 #accountSecurity_company .for-sbt input[type="reset"]{
		    margin-left: 50px
		}
		
		
		
		/*有改*/
		
		 #accountSecurity_company .for input{
		    width:450px;
		    height:50px;
		    border-radius:8px;
		    outline: none;
		    text-indent:.5cm;
		    color:#333;
		    border:1px solid #95d6e2;
		}
		
		
		#accountSecurity_company label,p{
		    color:#4a4a4a;
		}
		#accountSecurity_company .juchan{
		    width: 89%;
		    overflow: hidden;
		}
		#accountSecurity_company .juchan .for{
		    width:50%;
		    float:left;
		}
		#accountSecurity_company .juchan >.for > label{
		    width:36%;
		}
		 #accountSecurity_company .detu{
		    display:block;
		    width:20px;
		    height:27px;
		    position: absolute;
		    top:14px;
		    left:132px;
		    background:url(/res/images/location_icon.png) no-repeat center;
		}
		 #accountSecurity_company .tab{
		    width:360px;
		    height:50px;
		    border:none;
		    list-style:none;
		    border-radius:8px;
		    border:1px solid #95d6e2;
		    overflow: hidden;
		}
		#accountSecurity_company .pen{
		    position: absolute;
		    right: -28px;
		    display: block;
		    width: 20px;
		    height: 20px;
		    background: url("/res/images/pen.png");
		    cursor: pointer;
		}
		 #accountSecurity_company .tab li{
		    line-height: 50px;
		    float:left;
		    text-align:center;
		    font-size:14px;
		    background:#fff;
		    color:#333;
		}
		#accountSecurity_company .roup{
		    width:16px;
		    height:16px;
		    display: inline-block;
		    background: url(/res/images/roup.png) no-repeat center;
		    vertical-align:bottom;
		}  
		#accountSecurity_company #inpt{
		    width:30%;
		    border:none;
		    background:none;
		} 
		#accountSecurity_company .rest{
			float: left;
		    display: block;
		    padding-left: 50px;
		    font-size: 14px;
		    border: 0;
		    background: #fff;
		    color: #4a4a4a;
		    cursor: pointer;
		}
		
		
		
		#accountSecurity_company .restPassSubBtn{
		    width: 120px!important;
		    height: 42px!important;
		    border-radius: 48px!important;
		    line-height: 42px!important;
		    text-align: center!important;
		    background: #fea600!important;
		    color: #fff!important;
		    font-size: 18px;
		}
		
		#accountSecurity_company .restPassCancelBtn{
			width: 120px!important;
		    height: 42px!important;
		    border-radius: 48px!important;
		    line-height: 42px!important;
		    text-align: center!important;
		    background: none!important;
		    color: #ccc!important;
		    font-size: 18px;
		    border: 1px solid #ccc!important;
		}
		
		#accountSecurity_company #restPassCancelBtn:hover{
			width: 120px!important;
		    height: 42px!important;
		    border-radius: 48px!important;
		    line-height: 42px!important;
		    text-align: center!important;
		    background: none!important;
		    color: #ccc!important;
		    font-size: 18px;
		    border: 1px solid #ccc!important;
		}
		#accountSecurity_company #restPassCancelBtn:hover{
			width: 120px!important;
		    height: 42px!important;
		    border-radius: 48px!important;
		    line-height: 42px!important;
		    text-align: center!important;
		    background: none!important;
		    color: #ccc!important;
		    font-size: 18px;
		    border: 1px solid #ccc!important;
		
		/*精英报名邀请弹窗*/
		 #accountSecurity_company .boxt {
		        width:100%;
		        padding:10px 0;
		    }
		  #accountSecurity_company .contean{
		        width:620px;
		        margin:0 auto;
		        border-radius:20px;
		        background:#999;
		        position: relative;
		    }
		    #accountSecurity_company .contean h1{
		        text-align:center;
		        font-size:20px;
		        padding-bottom:15px;
		        border-bottom:2px solid #95d6e2;
		    }
		    #accountSecurity_company .contean label{
		        width:15%;
		        line-height: 50px;
		        margin-right:19px;
		        text-align:right;
		        display: inline-block;
		        float:left;
		    }
		    #accountSecurity_company .contean form{
		        margin:40px 0;
		    }
		    #accountSecurity_company .contean form .for{
		        margin:15px 0;
		        color:#fff;
		        position:relative;
		    }
		    #accountSecurity_company .detu{
		        display:block;
		        width:20px;
		        height:27px;
		        position: absolute;
		        top:14px;
		        left:132px;
		        background:url(imgs/map.png) no-repeat center;
		    }
		    #accountSecurity_company .for-btn{
		        padding-bottom:30px;
		        border-bottom:1px dashed #fff;
		    }
		    #accountSecurity_company .triangle{
		        display:inline-block;
		        width:0px;
		        height:0px;
		        border-top:7px solid #d8d8d8;
		        border-left:7px solid transparent;
		        border-right:7px solid transparent;
		        position: absolute;
		        top:23px;
		    }
		    #accountSecurity_company .for-btn-triangel{
		        left:250px;
		    }
		    #accountSecurity_company .for-btn-triangela{
		        left:253px;
		    }
		    #accountSecurity_company .for-btn-triangelb{
		        position: absolute;
		        top:23px;
		        left:435px;
		    }
		    #accountSecurity_company .contean form .for-sbt{
		        width:410px;
		        margin:35px auto;
		        overflow:hidden;
		    }
		    #accountSecurity_company .contean .for-sbt button{
		        width:180px;
		        height:60px;
		        float:left;
		        border:none;
		        color:#d9d9d9;
		        border:1px solid #d9d9d9;
		        border-radius:100px;
		        background:none;
		        font-size:18px;
		    }
		    #accountSecurity_company .contean .for-sbt button:hover{
		        background:#fea600;
		        color:#fff;
		        border:none;
		    }
		    #accountSecurity_company .contean .for-sbt input[type="reset"]{
		        margin-left: 50px
		    }
		    #accountSecurity_company .contean .tab,.contean form .for input{
		        width:400px;
		        height:50px;
		        border-radius:8px;
		        outline: none;
		        text-indent:.5cm;
		        border:1px solid #95d6e2;
		        color:#333;
		    }
		   #accountSecurity_company .contean .tab{
		        border:none;
		        list-style:none;
		        border-radius:8px;
		        border:1px solid #95d6e2;
		        overflow: hidden;
		    }
		
		    #accountSecurity_company .contean .tab li{
		        width:33.13%;
		        line-height: 50px;
		        float:left;
		        text-align:center;
		        font-size:14px;
		        background:#fff;
		        color:#333;
		    }
		    #accountSecurity_company .td-border{
		        border-right:1px solid #95d6e2;
		    }
		    #accountSecurity_company .contean .tab li:hover{
		        background:#95d6e2;
		        color:#fff;
		    }
		    #accountSecurity_company .cop{
		        display: block;
		        width:30px;
		        height:30px;
		        background: url(imgs/copy.png) no-repeat center;
		        position: absolute;
		        top:20px;
		        right:25px;
		
		    }
		 #accountSecurity_company .editor{
			float: left;
		}
		        #accountSecurity_company .year-select{
		            position: absolute;
		            top:33px;
		            left:100px;
		            z-index: 100;
		            border:1px solid #2CB7C9;
		            width:250px;
		
		        }
		
		        #accountSecurity_company .year-select{
		           display: none;
		           overflow: auto;
		           background-color:#CCC;
		        }
		
		        #accountSecurity_company .year-select li{
		            padding:0 16px;
		            background-color: #CCC;
		
		        }
		
		        #accountSecurity_company .year-select li:hover{
		            background-color: #2CB7C9;
		            color:white;
		            cursor: pointer;
		        }
		        #accountSecurity_company .birth-year{
		            position: absolute;
		            top:7px;
		            left:16px;
		        }
		
		        #accountSecurity_company .birth-month{
		            position: absolute;
		            top:7px;
		            left:37px;
		        }
		    
		    #accountSecurity_company .yas{
		        width:124px;
		        height:50px;
		        float:right;
		        border:none;
		        border-radius:8px;
		        background:#95d6e2;
		    }
		    
		 
		  /*邮箱验证*/     
		  #accountSecurity_company #contean-email{
		   	 position: absolute;
		   	 bottom:0;
		   	 left:-554px;
		   }
			#accountSecurity_company #inpt{
		    	margin-left: -20px;
			}