		.personage_education .form-control {
			    height: 50px;
			    line-height: 50px;
			    border-radius: 6px;
			    border: 1px solid #2cb7c9;
			    font-size: 16px;
			    color: #4a4a4a;
			    background: #fff;
			}
		.personage_education .form-group {
		    margin-bottom: 30px;
		}
    
        .personage_education .process{
            width:100%;
            height:130px;
            background-color: #F5FBFC;
        }

        .personage_education .process-box{
            width:1000px;
            margin:0 auto;
            position: relative;
        }

        .personage_education .process-line{
            width:132px;
            border-bottom: 2px solid #BFBFBF;
            position: absolute;
            top:50px;
            left:210px;
        }

        .personage_education .content{
            width:1000px;
            margin:0 auto;
            min-height:250px;

            padding-bottom: 60px;
        }
        .personage_education .process-circle{
            width: 40px;
            height: 40px;
            border:none;
            -moz-border-radius: 50px;
            -webkit-border-radius: 50px;
            border-radius: 50px;
            background-color: #BFBFBF;
            text-align: center;
            line-height: 40px;
            color:white;

            position: absolute;
            top:32px;
            left:160px;
            z-index: 200;
        }

        .personage_education .active-process{
            background-color: #7DD2E1;
        }

        .personage_education .process-title{
            position: absolute;
            top:84px;
            left:148px;
        }

        .personage_education .active-title{
            color:#2CB7C9;
        }

        .personage_education .complete-circle{
            width:100px;
            height:100px;
            border:1px solid red;
            margin-left:200px;
            margin-top:20px;
            float:left;
        }


        .personage_education .complete-tips{
            margin-top:30px;
            height:140px;
        }

        .personage_education .complete-theme{
            margin-left:50px;
            padding-top:40px;
            float:left;
        }

        .personage_education .tips{
            float:left;
            margin-left:20px;
        }

        .personage_education .tips img{
            width:20px;
            height:20px;
        }

        .personage_education .tips p{
            font-size: 12px;
            color:#9B9B9B;
        }

        .personage_education .split-line{
            height:140px;
            border-left:1px solid #E6E6E6;
            float:left;
            margin-left:40px;
        }

        .personage_education .form-person{
            display: block;
            padding-left:126px;
            padding-top:30px;
        }

        .personage_education .form-tip{
            font-size: 12px;
            color:#FEA600;
            padding-left:66px;
        }

        .personage_education .required{
            color:#FEA600!important;
        }

        .personage_education .date-select{
            display: block;
            width:152px;
            position: relative;
            float:left;
        }

        .personage_education .date-icon{
            width:20px;
            height:20px;
            position: absolute;
            top:7px;
            right:16px;
            z-index: 100;
        }


        .personage_education .form-opt{
            margin-top:50px;
            padding-left:224px;
        }

        
        .personage_education .finish-line{
            border-color: #95D6E2;
        }

        .personage_education .label-tip{
            font-size: 12px;
            color:#9B9B9B;
        }

        .personage_education .belong-class{
            width:538px;
            background-color: #FAFAFA;
            border-radius: 4px;
        }

        .personage_education .select-box{
            padding:10px;
        }

        .personage_education .select-box button{
            width:80px;
            border:1px solid #CCCCCC;
            background-color: transparent;
            border-radius: 4px;
            font-size: 14px;
            margin:7px 10px;
        }

        .personage_education .active-btn{
            background-color: #7DD2E1!important;
            border:1px solid #7DD2E1!important;
            color:white;
        }

        .personage_education .add-tr{
            line-height: 30px;
            font-size: 14px;
            margin-top:10px;
        }

        .personage_education .add-tr img{
            width:24px;
            height:24px;
            cursor: pointer;
        }

        .personage_education .append-tr{
            width:100%;
            height:34px;
            line-height: 34px;
            border:1px solid #CCC;
            border-radius: 4px;
            font-size: 14px;
            padding:0 12px;
            margin-top:5px;
        }

        .personage_education .work-period{
            color:#9B9B9B;
            float: right;
        }

        .personage_education .opt-icon{
            width:20px;
            height:20px;
            margin-right:15px;
        }
        
        .personage_education .upload-button button{
            margin:0px 20px 0px 0px;
        }
        .personage_education .upload-file{
            padding:5px 36px;
            background-color: #7DD2E1;
            border:none;
            border-radius: 6px;
            height:50px;
            min-width: 240px;
            color:white;
            cursor: default;
            font-size: 14px;
        }
        
        .personage_education .delete-cross {
    		height: 50px;
    		width: 50px;
    		display: block;
    		position: absolute;
    		right: -35px;
    		top: -1px;
    		cursor: pointer;
			}
		.personage_education #resumeAtta_show {
		    position: relative;
		}

        .personage_education .upload-resume{
            width:100%;
            height:34px;
            line-height: 34px;
            background-color: #F2F2F2;
            border:none;
            border-radius: 4px;
            text-align: center;
            cursor: pointer;
            font-size: 14px;
            color:#4A4A4A;
            margin-bottom:20px;
        }

        .personage_education .form-person .form-group{
            margin-bottom: 30px;
        }

        .personage_education .modal-body{
            background-image:url('${_PATH}/res/images/pic_shadow3.png');
        }
        .personage_education .close-icon{
            width:24px;
            height:24px;
            float:right;
            margin-top:6px;
            margin-right:6px;
            cursor: pointer;
        }

        .personage_education .my-form label{
            color:#4a4a4a;
        }

        .personage_education .error-tip{
            text-align: center;
            height:24px;
            color:red;
        }

        .personage_education .modal-opt{
            margin-top:10px;
        }

        .personage_education .opt-btn-ok{
            width:100px;
            height:34px;
            background-color: #FEA600;
            border:1px solid #FEA600;
            border-radius: 20px;
            color:white;
        }

        .personage_education .opt-btn-cancel{
            width:100px;
            height:34px;
            background-color: transparent;
            border:1px solid #CCCCCC;
            border-radius: 20px;
            color:white;
            margin-left:120px;
        }

        .personage_education .birth-box{
            position: relative;
        }

        .personage_education .year-select{
            position: absolute;
            top:33px;
            left:0px;
            z-index: 100;
            border:1px solid #2CB7C9;

        }

        .personage_education .year-select{
            display: none;
            height:266px;
            overflow: auto;
        }

        .personage_education .year-select li{
            padding:0 16px;
            background-color: white;

        }

        .personage_education .year-select li:hover{
            background-color: #2CB7C9;
            color:white;
            cursor: pointer;
        }
        .personage_education .birth-year{
            position: absolute;
            top:7px;
            left:16px;
        }

        .personage_education .birth-month{
            position: absolute;
            top:7px;
            left:37px;
        }

        .personage_education .triangle{
            position: absolute;
            bottom: 6px;
            left:58px;
            cursor: pointer;
        }
        .personage_education .trigger {
            display: inline-block;
            height: 0;
            width: 0;
            overflow: hidden;
            border-style: solid;
            margin-left: 4px;
            margin-right: 4px;
            position: relative;
            top:0;
            border-width:6px 6px 0;
            border-color:#D8D8D8 transparent transparent;
            -webkit-transition:all .4s ease 0s;
            -moz-transition:all .4s ease 0s;
            -o-transition:all .4s ease 0s;
            transition:all .4s ease 0s;
        }

        .personage_education .trigger-inverse{
            -webkit-transform: rotate(180deg);
            -moz-transform: rotate(180deg);
            -ms-transform: rotate(180deg);
            transform: rotate(180deg);
            animation-fill-mode: forwards;
        }

        .personage_education .form-label{
            float:left;
            line-height: 36px;
            margin-right:10px;
            color:white;
        }
        
        .personage_education .error-tip{
            width:100%;
            height:24px;
            line-height: 24px;
            padding-left:125px;
            color:red;
            text-align: left;
        }
        
        .personage_education .error-sign{
           border-color:red;
        }
        
        .personage_education  .btn_save{
		    margin-left: 125px;
		} 
		.personage_education .btn_cancel{
		    margin-left: -50px;
		}  
		.personage_education  .btn_delete{
		    margin-left: 30px;
		}
		
		/*最高学历*/
		.personage_education .educationType {
		    position: absolute;
		    z-index: 10;
		    border: 1px solid #999999!important;
		    box-shadow: 2px 4px 6px -1px rgba(0,0,0,0.15);
		}
		.personage_education .educationType ul{
			margin-top: 0;
  	 		margin-bottom:0;
		}
		.personage_education .educationType ul li {
		    width: 180px;
		    text-align: center;
		    height: 30px;
		    line-height: 30px;
		    cursor: pointer;
		    background: #fff;
    		color: #4a4a4a;
		}
		
		.personage_education .educationType .active_education {
		    background: #2cb7c9;
		    color: #fff;
		}