#eliteBasic_content{
	width: 1000px;
    margin: 0 auto;
    min-height: 600px;
}
#eliteBasic_content .form-opt{
    position: relative;
    margin-top: 66px;
    padding-left: 35px;
}

#eliteBasic_content .form-opt .error-tip{
    position: absolute;
    height: 24px;
    color: red;
    top: -36px;
    left: 142px;
}