/*璁剧疆*/
#personSetting {
    width: 1000px;
    margin: 0 auto;
    padding-top:100px;
    min-height:900px;
}
/*璁剧疆鍋氶儴鍒�*/
#personSetting .set_left {
    width: 240px;
    float: left;
    margin-right: 30px;
}
#personSetting .set_left .nav_title {
    margin-top: 37px;
}
#personSetting .set_left .selectText {
    color: #2cb7c9;
}
#personSetting .set_left .navBox {
    position: relative;
    width: 240px;
    min-height: 137px;
    box-sizing: border-box;
    border: 1px solid #e6e6e6;
    box-shadow: 2px 2px 6px 0px rgba(0,0,0,0.30);
    margin-top: 22px;
}
#personSetting .set_left .navBox .activeLine {
    position: absolute;
    right: -3px;
    top: 20px;
    height: 39px;
    border-right: 3px solid #2cb7c9;
}
#personSetting .set_left .navBox ul{
    margin-top: 30px;
}
#personSetting .set_left .navBox ul li {
    position: relative;
    margin-bottom: 25px;
    height: 22px;
    cursor: pointer;
}
#personSetting .set_left .navBox ul li .liIcon {
    position: absolute;
    left: 55px;
    display: block;
    width: 22px;
    height: 22px;
}
#personSetting .set_left .navBox ul li .account_select{
    background: url("../../../../res/images/person/account_select.png") no-repeat;
}
#personSetting .set_left .navBox ul li .account_noselect{
    background: url("../../../../res/images/person/account_noselect.png") no-repeat;
}
#personSetting .set_left .navBox ul li .card_select{
    background: url("../../../../res/images/person/card_select.png") no-repeat;
}
#personSetting .set_left .navBox ul li .card_noselect{
    background: url("../../../../res/images/person/card_noselect.png") no-repeat;
}

#personSetting .set_left .navBox ul li .liText {
    position: absolute;
    left: 90px;
}
#personSetting .set_left .navBox ul li .active_color {
    color: #2cb7c9;
}

/*璁剧疆鏈夐儴鍒�*/
#personSetting .set_right {
    float: left;
    width: 730px;
}
#personSetting .set_right .passWord {
    margin-top: 76px;
}
#personSetting .set_right .bankCard {
    margin-top: 76px;
}
#personSetting .set_right h2 {
    height: 35px;
    border-bottom: 1px solid #e6e6e6;
    font-size: 18px;
}
#personSetting .set_right .bankCard h2 span{
    font-size: 14px;
}
#personSetting .set_right .labelGroup {
    margin-bottom: 30px;
}
#personSetting .set_right .labelGroup label {
    float: left;
    font-weight:500;
    width: 67px;
    height: 50px;
    line-height: 50px;
    text-align: right;
    margin-right: 20px;
    font-size: 16px;
}
#personSetting .set_right .labelGroup input[type="password"] {
    width: 360px;
    height: 50px;
    border-radius: 8px;
    border: 1px solid #d9d9d9;
    font-size: 16px;
    padding-left: 20px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
}
#personSetting .set_right .labelGroup input[type="password"]:focus{
    border: 1px solid #2cb7c9;
}
#personSetting .set_right .btnDiv{
    position: relative;
    margin-left: 87px;
    padding-top: 30px;
}
#personSetting .set_right .btnDiv .error_div {
    position: absolute;
    top: -25px;
    width: 300px;
    height: 50px;
    border: 1px solid #dd5b56;
    background: #f4d7d6;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
    display:none;
}
#personSetting .set_right .btnDiv  .error_div .error_icon {
    position: absolute;
    top: 8px;
    left: 32px;
    display: block;
    width: 32px;
    height: 29px;
    background: url(../../../../res/images/error/error_icon.png) no-repeat;
}
#personSetting .set_right .btnDiv  .error_div .error_text {
    position: absolute;
    top: 12px;
    left: 79px;
    font-size: 16px;
    color: #dd5b56;
}

#personSetting .set_right .affirmBtn {
    width: 160px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    font-size: 18px;
    border: none;
    background: #fea600;
    color: #fff;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -o-border-radius: 100px;
    cursor: pointer;
}
#personSetting .set_right .passWord form {
    margin-top: 30px;
}
#personSetting .set_right .bankCard form {
    margin-top: 30px;
}
#personSetting .set_right .cardGroup {
    position: relative;
    width: 730px;
    height: 60px;
    background: #f5f5f5;
    border: 2px solid #ccc;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -o-border-radius: 6px;
    opacity: 0.98;
    margin-bottom: 30px;
}
#personSetting .set_right .cardGroup .cardNumber {
    position: absolute;
    top: 20px;
    left: 203px;
}
#personSetting .set_right .cardGroup .deleteBtn {
    position: absolute;
    top: 20px;
    right: 20px;
    color: #2cb7c9;
    cursor: pointer;
}
#personSetting .set_right .addCardBtn {
    position: relative;
    width: 730px;
    height: 100px;
    box-sizing: border-box;
    background: #F5FBFC;
    border: 1px dashed #95D6E2;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -o-border-radius: 6px;
    cursor: pointer;
}
#personSetting .set_right .cardGroup .bankLogo {
    position: absolute;
    top: 19px;
    left: 20px;
}
#personSetting .set_right .addCardBtn .addIcon {
    position: absolute;
    top: 20px;
    left: 349px;
    display: block;
    width: 30px;
    height: 30px;
    background: url("../../../../res/images/person/addIcon.png") no-repeat;
}
#personSetting .set_right .addCardBtn .addText {
    position: absolute;
    font-size: 16px;
    color: #2cb7c9;
    top: 58px;
    left: 324px;
}
/*娣诲姞閾惰鍗″脊绐�*/
#personSetting .window {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 99999;
    width: 100%;
    height: 100%;
}
#personSetting .window .cardForm {
    position: absolute;
    width: 500px;
    height: 550px;
    top: 50%;
    margin-top: -275px;
    left: 50%;
    margin-left: -250px;
}
#personSetting .window .cardForm .form_bg {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -10;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.6;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -o-border-radius: 12px;
}
#personSetting .window .cardForm .labelGroup {
    margin-bottom: 20px;
}
#personSetting .window .cardForm h1 {
    height: 50px;
    margin-top: 0;
    margin-bottom: 0;
    border-bottom: 1px solid #b3b3b3;
    text-align: center;
    line-height: 50px;
    color: #fff;
    font-size: 20px;
    margin-bottom: 30px;
}
#personSetting .window .cardForm .closeBtn {
    position: absolute;
    z-index: 100;
    top: 15px;
    right: 15px;
    width: 30px;
    height: 30px;
    background: url("../../../../res/images/channel/close_btn.png") no-repeat;
    cursor: pointer;
}
#personSetting .window .cardForm label {
    float: left;
    width: 94px;
    height: 50px;
    line-height: 50px;
    text-align: right;
    font-size: 16px;
    color: #fff;
    margin-right: 20px;
}
#personSetting .window .cardForm .labelGroup input{
    float: left;
    width: 360px;
    height: 50px;
    border-radius: 8px;
    border: 1px solid #d9d9d9;
    font-size: 16px;
    padding-left: 20px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
}
#personSetting .window .cardForm .obtainBtn {
    float: left;
    width: 88px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -o-border-radius: 8px;
    margin-left: 16px;
    border: none;
    background: #2cb7c9;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}
#personSetting .window .cardForm .btnBox {
    position: relative;
    margin-left: 114px;
    margin-top: 60px;
}
#personSetting .window .cardForm .validationBtn {
    width: 256px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    border: none;
    background: #fea600;
    color: #fff;
    border-radius: 48px;
    font-size: 18px;
    cursor: pointer;
}
#personSetting .window .cardForm .error_div {
    position: absolute;
    top: -56px;
    width: 300px;
    height: 50px;
    border: 1px solid #dd5b56;
    background: #f4d7d6;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
    display:none;
}
#personSetting .window .cardForm .error_div .error_icon {
    position: absolute;
    top: 8px;
    left: 32px;
    display: block;
    width: 32px;
    height: 29px;
    background: url(../../../../res/images/error/error_icon.png) no-repeat;
}
#personSetting .window .cardForm .error_div .error_text {
    position: absolute;
    top: 12px;
    left: 79px;
    font-size: 16px;
    color: #dd5b56;
}
